# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Bancos de dados
*.db
*.sqlite
*.sqlite3

# Arquivos Excel
*.xlsx

# Variáveis de ambiente
.env
.env.*

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db